* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html,
body,
#root {
  background: linear-gradient(to bottom, #ebb9ea, #40aafe);
}

html,
body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.MuiGrid-item {
  padding-left: 0 !important;
}

/* .App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
} */

/* .custom-caret {
  position: absolute;
  height: 1.4rem;
  width: 0.5rem;
  background-color: black;
  animation: blink-caret 0.75s step-end infinite;

  left: 50%;
  transform: translateX(-50%);
}

@keyframes blink-caret {
  from,
  to {
    visibility: visible;
  }
  50% {
    visibility: hidden;
  }
}

.textarea-custom-caret.end + .custom-caret {
  left: 100%;
  top: 0;
}

.textarea-custom-caret {
  position: relative;
}

.textarea-custom-caret::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #666;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: left 0.2s ease-in-out;
}

.textarea-custom-caret.end::before {
  left: calc(100% - 8px);
}

/* style the custom caret
.textarea-custom-caret::after {
  content: "|";
  /* display a vertical bar as the caret 
  position: absolute;
  right: 0; /* position it at the end of the text 
  top: 0;
  bottom: 0;
  margin: auto;
  height: 1em;
  color: black; /* set the color of the caret 
  animation: blink 1s infinite; /* animate the caret 
} */

/* blink animation 
@keyframes blink {
  50% {
    opacity: 0;
  }
} */

/* .product-frame {
  width: 800px;
  background-color: blue;
}
.product {
  width: 60px;
  height: 300px;
  display: inline-block;
  position: fixed;
}

/* .one {
  animation: one-carousel 10s linear infinite;
  -webkit-animation: one-carousel 10s linear infinite;
  background-color: blue;
}

@keyframes one-carousel {
  0%,
  100% {
    left: 370px;
    -webkit-transform: scale(1);
    z-index: 1;
  }
  20% {
    left: 740px;
    -webkit-transform: scale(0.6);
    z-index: -1;
  }
  40% {
    left: 370px;
    -webkit-transform: scale(0.4);
    z-index: -1;
  }
  60% {
    left: 0px;
    -webkit-transform: scale(0.6);
    z-index: -1;
  }
}

.two {
  animation: two-carousel 10s linear infinite;
  -webkit-animation: two-carousel 10s linear infinite;
  background-color: orange;
}

@keyframes two-carousel {
  0%,
  100% {
    left: 740px;
    -webkit-transform: scale(0.6);
    z-index: -1;
  }
  20% {
    left: 370px;
    -webkit-transform: scale(0.4);
    z-index: -1;
  }

  40% {
    left: 0px;
    -webkit-transform: scale(0.6);
    z-index: -1;
  }
  60% {
    left: 370px;
    -webkit-transform: scale(1);
    z-index: 1;
  }
}

.three {
  animation: three-carousel 10s linear infinite;
  -webkit-animation: three-carousel 10s linear infinite;
  background-color: blueviolet;
}

@keyframes three-carousel {
  0%,
  100% {
    left: 370px;
    -webkit-transform: scale(0.4);
    z-index: -1;
  }
  20% {
    left: 0px;
    -webkit-transform: scale(0.6);
    z-index: -1;
  }
  40% {
    left: 370px;
    -webkit-transform: scale(1);
    z-index: 1;
  }
  60% {
    left: 740px;
    -webkit-transform: scale(0.6);
    z-index: -1;
  }
}

.four {
  animation: four-carousel 10s linear infinite;
  -webkit-animation: four-carousel 10s linear infinite;
  background-color: aqua;
}

@keyframes four-carousel {
  0%,
  100% {
    left: 0px;
    -webkit-transform: scale(0.6);
    z-index: -1;
  }
  20% {
    left: 370px;
    -webkit-transform: scale(1);
    z-index: 1;
  }
  40% {
    left: 740px;
    -webkit-transform: scale(0.6);
    z-index: -1;
  }
  60% {
    left: 370px;
    -webkit-transform: scale(0.4);
    z-index: -1;
  }
} */
